/* RESETS (adjusted from Eric Meyer's reset file) */
html, body, header, footer, nav, div, img, form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HEADER */
header {
  width: 100%;
  display: flex;
  margin-top: 13px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  justify-content: space-between;
  margin-bottom: 150px;
}
.h_left {
  display: flex;
  margin-left: 24px; 
  margin-top: auto;
  margin-bottom: auto;
  color: #696969;
}
.h_left a {
  margin-right: 19px;
}
.h_right {
  display: flex;
  align-items: center;
  color: #696969;
}
.h_right a {
  margin-right: 19px;
}

header .h_right img {
  border-radius: 50%;
  margin-right: 10px;
}

/* link (unactive, hover) styling */
header .h_left a, header .h_right a {
  text-decoration: none;
  color: #3F3F3F;
}
header .h_left a:hover, header .h_right a:hover {
  text-decoration: underline;
}


.logo {
  width: 100%;
  text-align: center;
  padding-bottom: 22px;
}

/* SEARCH BAR */
.search {
  width: 100%;
  text-align: center;
}
.search form input {
  width: 44%; 
  height: 42px;
  border: 1px solid #E1E1E1;
  border-radius: 2px;
  box-shadow: 2px 2px 1px #EFEFEF;
    -webkit-box-shadow: 2px 2px 1x #EFEFEF;
    -moz-box-shadow: 2px 2px 1x #EFEFEF;
}

/* BUTTONS */
.buttons {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}
.buttons button {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  column-rule: #757575;
  height: 35px;
  width: 135px;
  background-color: #F2F2F4;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  margin-left: 3px;
  margin-right: 3px;
}
button:hover {
  border: 1px solid lightgrey;

}