/* RESETS (adjusted from Eric Meyer's reset file) */
html, body, header, footer, nav, div, img, form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* general styling rules */
header, footer {
  width: 100%;
}
header, footer, .h_right button, .buttons button {
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header, .h_left a, .h_right a {
  color: #525252;
}
.h_left a, .h_right a, .f_left a, .f_right a {
  text-decoration: none;                          
}
.h_left a:hover, .h_right a:hover, .f_left a:hover, .f_right a:hover {
  text-decoration: underline;
}

/* header-specific styling rules */
header {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  margin-bottom: 150px;
}
.h_left {
  display: flex;
  margin-left: 25px; 
  margin-top: auto;
  margin-bottom: auto;
}
.h_left a {
  margin-right: 19px;
}
.h_right {
  display: flex;
  align-items: center;
}
.h_right a {
  margin-right: 18px;
}
.h_right .material-icons {
  padding-top: 4px;
}
.h_right button {
  height: 30px;
  width: 71px;
  background-color: rgb(65, 131, 245);
  border: 1px solid rgb(65, 131, 245);
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: bold;
  margin-right: 30px;
}

/* logo styling */
.logo {
  width: 100%;
  text-align: center;
  padding-bottom: 22px;
}

/* SEARCH BAR */
.search {
  width: 100%;
  text-align: center;
}
.search form input {
  width: 44%; /* UPDATE VALUE! */
  height: 42px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

/* BUTTONS */
.buttons {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}
.buttons button {
  font-weight: bold;
  column-rule: #757575;
  height: 35px;
  width: 135px;
  background-color: #F2F2F4;
  border: 1px solid #F2F2F2;
  color: #757575;
  border-radius: 2px;
  margin-left: 3px;
  margin-right: 3px;
}
button:hover {
  border: 1px solid lightgrey;

}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  border-top: 1px solid #E8E8E8;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
}
.f_left {
  margin: auto 0;
  padding-left: 30px;
}
.f_left a {
  margin-right: 23px;
}
.f_right {
  margin: auto 30px auto 0;
}
.f_right a {
  padding-left: 23px;
}
.f_left a, .f_right a {
  color: #5f6368;
}

